<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check our Services</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bi bi-laptop"></i>
            <h4><a href="#">Travelsafe+
              Assist</a></h4>
            <p>TravelSafe+ is travel assist  comprehensive consulting programme available 24×7 for worldwide travel & lifestyle assistance</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Travel Insurance</a></h4>
            <p>Best OMP service provider for our member from U/W by IRDA general Insurance.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-brightness-high"></i>
            <h4><a href="#">Luggage Tracker</a></h4>
            <p>our Unique & Innovative solution will recover your lost or delayed baggage.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Online Doctor's Assist</a></h4>
            <p> Get personalized solutions for any health issue with instant online doctor consultation.Video & Chat Options. Trusted Doctors</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">Triple Travel
              Guarantee</a></h4>
            <p>Every provider featured on TripGuard must adhere to our Triple Travel Guarantee – we promise that every plan you purchase through TripGuard is from a reputable provider that will handle all claims fairly and honestly.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-clock"></i>
            <h4><a href="#">Personal Concierge</a></h4>
            <p>You have battles to win and worlds to conquer. With so much already on your to-do list, planning for and managing your lifestyle needs is not something you should have to worry about. </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-clock"></i>
            <h4><a href="#">Road Side Assistance</a></h4>
            <p>Roadside Assistance Cover is an add-on cover and acts as your most trusted ally when the vehicle breaks down. In other words, Roadside Assistance Coverage means a professional technician comes to your rescue when your car breaks down in the middle of the journey leaving you stranded</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-clock"></i>
            <h4><a href="#">Cashless & Medical Benefits by Insurance Company.</a></h4>
            <p>
              Cashless & Medical Benefits by Insurance Company.
              Insurance is a means of protection from financial loss. It is a form of risk management, primarily used to hedge against the risk of a contingent or uncertain loss. An entity which provides insurance is known as an insurer, an insurance company, an insurance carrier or an underwriter.</p>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Services Section -->

