<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Welcome to Travel Armour</h1>
      <h2>What best describes TRAVEL ARMOUR – Service excellence, transparency, outstanding customer care and an unyielding commitment to being the best at what we do. At TRAVEL ARMOUR, business partners and customers are our biggest assets and we are committed to providing them with a wide range of innovative and tailor-made travel protection solutions.</h2>
      <div class="d-flex">
        <a href="#contact" class="btn-get-started scrollto">COntact Us</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->